@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

html , body {
  /* height: 100%; */
  font-size: 16px;
  /* line-height: 1.5; */
  font-family:'Acme', sans-serif;
  color: #fff;
}

body{
  overflow: hidden;
  background-color: #000;
  display: grid;
  align-items: center;
}
/* 
section{
  padding: 1px 10%;
} */

.heading{
  text-align: center;
  display: grid;
  text-decoration: underline #fff;
  margin-top: -10px;
}

.polygon {
  position: relative;
  height: 100vh;
  flex-grow: 1;
  margin: auto;
  width: 700px;
  /* max-width: 100%; */
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap:0.2vmin;
  justify-items: center;
  align-items: center;
  margin-top: -10px;
}

img {
  z-index: 1;
  grid-column: span 2;
  margin-bottom: 1%;
  width: 185px;
  height: 185px;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  transform: scale(1);
  transition: all .25s;
}

img:hover {
  -ms-transform: scale(2);
  -webkit-transform: scale(2);
  transform: scale(2); 
} 