@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;0,900;1,500&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}
.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    border: none;
    box-shadow: none;
}
.navbar-brand span{
    color: red;
}
#navbarNav ul li a:hover{
    color: red;
}
#navbarNav ul li .active{
    color: red;
}
/* Cards Section */
.custom-shadow{
    box-shadow: 3px 3px 10px silver;
}
.custom-shadow:hover{
    background-color: rgb(231, 231, 231);
    transition: .3s ease;
}
.cards .information{
    text-align: center;
    margin-top: 10px;
}